Flask~=2.0.1
Flask-Cors==3.0.10
Flask-REST-JSONAPI==0.31.2
Flask-SQLAlchemy==2.5.1
gpt-utils==1.4.0
setuptools~=54.1.1
SQLAlchemy~=1.4.23
openai~=0.10.4
marshmallow~=3.13.0
python-dateutil~=2.8.2
requests~=2.26.0
